<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql:northwind" />
        <property name="username" value="sammy" />
        <property name="password" value="turntabl" />
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerDAO" class="io.turntabl.springgettingstarted.Implementors.CustomerDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="productDAO" class="io.turntabl.springgettingstarted.Implementors.ProductDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="salesDAO" class="io.turntabl.springgettingstarted.Implementors.SalesDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>



    <bean id = "humanBean" class = "io.turntabl.springgettingstarted.HumanBean">
        <property name="FName" value="Sammy"></property>
        <property name="LName" value="Kwakye"></property>
        <property name="BestFriendName" ref="bestFriend"></property>
    </bean>

    <bean id = "bestFriend" class = "io.turntabl.springgettingstarted.HumanBean">
        <property name="FName" value="Kelvin"></property>
        <property name="LName" value="Gyasi"></property>
    </bean>

</beans>